html
{
  background: rgb(10,79,5);
background: -moz-linear-gradient(left,  rgba(10,25,5,1) 17%, rgba(20,153,3,1) 50%, rgba(10,79,5,1) 100%);
background: -webkit-gradient(linear, left top, right top, color-stop(15%,rgba(10,79,5,1)), color-stop(50%,rgba(20,153,3,1)), color-stop(100%,rgba(10,79,5,1)));
background: -webkit-linear-gradient(left,  rgba(10,25,5,1) 15%,rgba(20,153,3,1) 50%,rgba(10,79,5,1) 100%);
background: -o-linear-gradient(left,  rgba(10,25,5,1) 17%,rgba(20,153,3,1) 50%,rgba(10,79,5,1) 100%);
background: -ms-linear-gradient(left,  rgba(10,25,5,1) 17%,rgba(20,153,3,1) 50%,rgba(10,79,5,1) 100%);
background: linear-gradient(to right,  rgba(10,25,5,1) 17%,rgba(20,153,3,1) 50%,rgba(10,79,5,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a4f05', endColorstr='#0a4f05',GradientType=1 );

max-width: 100%;

}

.dice
{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 130px;
    position: absolute;
    margin-top: 10px;
    .die
    {
        height: auto;
        width: 100%;
        margin-left: 12px;
        margin-bottom: 18px;
        
    }
}
#buttons
{
    display: flex;
    flex-wrap: wrap;
    max-width: 80%;
    display: absolute;
    margin-left: 160px;
    margin-top: 5px;
    .butt
    {
        width: 144px;
        height: 60px;
        padding: 0px;
        margin: 8px;
        margin-top: 10px;
    }
}    
    
    

//    html
//       body
//            dice
//                die
//            buttons
//                butt
